<?xml version="1.0"?>
<model>
  <name>Titan Cobra VTOL</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <description>
    Titan Cobra VTOL.

    Original Aircraft: Design: Mohammad Adib
    RealFlight 3D Model: Robert Long
    Gazebo Model: Rhys Mainwaring
  </description>
</model>
