<?xml version="1.0"?>
<model>
  <name>Anna1</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <description>
    Anna1

    Tomáš Rudolecký
    https://discuss.ardupilot.org/t/compass-settings-compasses-inconsistent-error/110592/6?u=rhys

    18 Jan 2024
  </description>
</model>
